.admin-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1rem 2rem;
}

.admin-header {
  background: linear-gradient(135deg, #7345AF 0%, #9d6dd4 100%);
  padding: 1rem 2rem;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.admin-content {
  flex: 1;
  background-color: #1E1E1E;
}

.user-count {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
}